@model TDEE_BMR_Macro_MVC.Models.UserModel

<div>
    <div class="d-flex justify-content-center">
        <div class="card border-warning" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(model => model.BMR) Calories</h5>
                <h6 class="card-subtitle mb-2 text-muted">Basal Metabolic Rate</h6>
            </div>
        </div>
    </div>
        <div class="d-flex justify-content-center">
            <h1>BMR</h1>
        </div>
        <div class="d-flex justify-content-center">
            <p>The Basal Metabolic Rate (BMR) estimates the amount of energy you expend while at rest.  Knowing your BMR is important to accurately guaging fitness goals that surround lossing body fat or gaining muscle.</p>
        </div>
    <hr />
    <div class="d-flex justify-content-center">
        <div class="card border-warning" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(model => model.TDEE) Calories</h5>
                <h6 class="card-subtitle mb-2 text-muted">Total Daily Energy Expenditure</h6>
            </div>
        </div>
    </div>
        <div class="d-flex justify-content-center">
            <h1>TDEE</h1>
        </div>
        <div class="d-flex justify-content-center">
            <p>Your Total Daily Energy Expenditure (TDEE) is an estimation of how many calories you burn per day when exercise is taken into consideration.  Your BMR is multiplied by a value that is determined by uour activity level. Your TDEE is your current maintenance calories, this number is adjusted bassed on your current goals.</p>
        </div>
    <hr />

    <div class="d-flex justify-content-center">
        <div class="card border-warning" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(model => model.DietCalories) Calories</h5>
                <h6 class="card-subtitle mb-2 text-muted">Your Target Calories</h6>
            </div>
        </div>
    </div>
     <div class="d-flex justify-content-center">
            <h1>Your Target Calories</h1>
     </div>
        <div class="d-flex justify-content-center">
            <p>Your target calories are bassed on the information you provided.  Your target calories are a reflection of your future fitness or health goals.  In order to loose body fat, you must eat under your TDEE, this is a caloric deficit.  If your goals is to increase body weight or muscle gain, you must eat above your TDEE, this is a caloric surplus.</p>
        </div>
    <hr />
    <h2>Your Stats</h2>
    <p>The following data has been generated based on your inputs.</p>

    <table class="table table-striped table-hover">
        <tr>
            <th>Target Calories</th>
            <th>Protein (grams)</th>
            <th>Protein Calories</th>
            <th>Fat (grams)</th>
            <th>Fat Calories</th>
            <th>Carbohydrate (grams)</th>
            <th>Carbohydrate Calories</th>
        </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.DietCalories)</td>
                <td>@Html.DisplayFor(model => model.UserProtein)</td>
                <td>@Html.DisplayFor(model => model.UserProteinCalories)</td>
                <td>@Html.DisplayFor(model => model.UserFat)</td>
                <td>@Html.DisplayFor(model => model.UserFatCalories)</td>
                <td>@Html.DisplayFor(model => model.UserCarbohydrate)</td>
                <td>@Html.DisplayFor(model => model.UserCarbohydrateCalories)</td>
            </tr>
        
    </table>
</div>
<hr />
<div class="d-flex justify-content-center">
<h1>Please see below for sample recieps!</h1>
</div>
<div class="d-flex justify-content-center">
<p><strong>In order to help you meal plan and crush your diet goals, a list of sample recipes has been provided for you. Click on any image to be taken to the recipe!</strong></p>
</div>
<hr />
<div id="carouselRecipe" class="carousel slide" data-bs-ride="false">
    <div class="carousel-inner">
        @foreach(RecipeModel recipeModel in Model.SampleRecipes)
        {
            if (recipeModel == Model.SampleRecipes[0])
            {
                <div class="carousel-item active"> 
                    <div class="d-flex justify-content-center">
                        <a href="@recipeModel.SourceUrl">
                            <img src="@recipeModel.Image" class="d-block w-100" alt="@recipeModel.Title" >
                        </a>
                    </div>
                        <div class="carousel-caption d-none d-md-block text-dark text-bg-dark p-2 font-weight-bold d-flex justify-content-center w-25" >
                            <h5>@recipeModel.Title</h5>
                            <p>@recipeModel.Calories calories - P: @recipeModel.Protein - F: @recipeModel.Fat - C: @recipeModel.Carbs</p>
                        </div>
                </div>
            }
            else
            {
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <a href="@recipeModel.SourceUrl">
                            <img src="@recipeModel.Image" class="d-block w-100" alt="@recipeModel.Title">
                        </a>
                    </div>
                    <div class="carousel-caption d-none d-md-block text-dark text-bg-dark p-2 font-weight-bold d-flex justify-content-center w-25">
                            <h5>@recipeModel.Title</h5>
                            <p>@recipeModel.Calories calories - P: @recipeModel.Protein - F: @recipeModel.Fat - C: @recipeModel.Carbs</p>
                        </div>
                </div>
            }
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselRecipe" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselRecipe" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<hr />
