@model TDEE_BMR_Macro_MVC.Models.UserModel

<div>
    <h4>UserModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TDEE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TDEE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BMR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BMR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DietCalories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DietCalories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserProtein)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserProtein)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserProteinCalories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserProteinCalories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserFat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserFat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserFatCalories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserFatCalories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserCarbohydrate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserCarbohydrate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserCarbohydrateCalories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserCarbohydrateCalories)
        </dd>
    </dl>
</div>
<hr />
<hr />
<h1>Please see below for sample recieps!</h1>
<hr />
@foreach (RecipeModel recipeModel in Model.SampleRecipes)
{
           <div id="sampleRecipeCarousel" class="carousel slide" data-bs-ride="false">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="@recipeModel.SourceUrl">
                            <img src="@recipeModel.Image" width="800" height="400" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><title>@recipeModel.Title</title><rect width="100%" height="100%"></rect>
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@recipeModel.Title</h5>
                                <p>@recipeModel.Calories Calories P:@recipeModel.Protein grams - F:@recipeModel.Fat grams - C:@recipeModel.Carbs grams</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
}


<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
