@model TDEE_BMR_Macro_MVC.Models.UserModel

<div>
    <h4>UserModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TDEE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TDEE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BMR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BMR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DietCalories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DietCalories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserProtein)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserProtein)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserProteinCalories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserProteinCalories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserFat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserFat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserFatCalories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserFatCalories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserCarbohydrate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserCarbohydrate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserCarbohydrateCalories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserCarbohydrateCalories)
        </dd>
    </dl>
</div>

<hr />
<hr />
<div class="d-flex justify-content-center">
<h1>Please see below for sample recieps!</h1>
</div>
<div class="d-flex justify-content-center">
<p><strong>In order to help you meal plan and crush your diet goals, a list of sample recipes has been provided for you. Click on any image to be taken to the recipe!</strong></p>
</div>
<hr />
<div id="carouselRecipe" class="carousel slide" data-bs-ride="false">
    <div class="carousel-inner">
        @foreach(RecipeModel recipeModel in Model.SampleRecipes)
        {
            if (recipeModel == Model.SampleRecipes[0])
            {
                <div class="carousel-item active"> 
                    <div class="d-flex justify-content-center">
                        <a href="@recipeModel.SourceUrl">
                            <img src="@recipeModel.Image" class="d-block w-100" alt="@recipeModel.Title" >
                        </a>
                    </div>
                        <div class="carousel-caption d-none d-md-block text-white text-bg-dark p-2 font-weight-bold d-flex justify-content-lg-start" >
                            <h5>@recipeModel.Title</h5>
                            <p>@recipeModel.Calories calories - P: @recipeModel.Protein - F: @recipeModel.Fat - C: @recipeModel.Carbs</p>
                        </div>
                </div>
            }
            else
            {
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <a href="@recipeModel.SourceUrl">
                            <img src="@recipeModel.Image" class="d-block w-100" alt="@recipeModel.Title">
                        </a>
                    </div>
                        <div class="carousel-caption d-none d-md-block text-white text-bg-dark p-2 font-weight-bold" >
                            <h5>@recipeModel.Title</h5>
                            <p>@recipeModel.Calories calories - P: @recipeModel.Protein - F: @recipeModel.Fat - C: @recipeModel.Carbs</p>
                        </div>
                </div>
            }
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselRecipe" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselRecipe" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>




<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
