@model TDEE_BMR_Macro_MVC.Models.UserModel

<div>
    <h4>UserModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivityLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalorieTargetModifier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalorieTargetModifier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarbLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarbLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TDEE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TDEE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BMR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BMR)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
